<h1>Listing restaurants and ratings</h1>
<!--<%= session[:user_id]  %>-->
<h3>Welcome <%=@current_user.user_name%></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @restaurants.each do |restaurant| %>

<!--Foreach stmt which @rest ... represents instance variable "@" which is set by the controller |the formal 'restaurant'| ... e.g. LU LU Calling methods
on that object.  The kind of object it is .. is a model object-->

<%= form_for(get_rating_for_restaurant(restaurant), :html => { :id => restaurant.id }) do |f| %>
  <tr>
    <td><%= link_to restaurant.restaurant_name, restaurant.restaurant_url %></td>
	<td><%= select("rating", :my_rating, options_for_select(Rating.value_mapping, get_rating_value_for_restaurant(restaurant)), {:include_blank => 'Select a Rating'}, {:onchange => "document.getElementById(#{restaurant.id}).submit();"}) %></td>
	<!--New td makes a call to a class method Total_Ranking_Value and displays it-->
	<!--very simply to display .. events -->
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>