<h1>Main Page -- Login and Request to subscribe</h1>
<!-- This is the main -->

<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
      <BR/>
	        <BR/>
<!--      <%= f.label :user_password %>  -->
	Password
      <%= f.password_field :user_password %>
	        <BR/>
				        <BR/>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>


