<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :my_rating %><br />
	<%= f.select(:my_rating,options_for_select([['Good', 1], ['Ok', 2], ['Poor', 3]])) %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br />
	<%= collection_select(:rating, :restaurant_id, Restaurant.all, :id, :restaurant_name) %>

  </div>
  <div class="field">
    <%= f.label :user_id %><br />
 <!-- <%= f.number_field :user_id %> THIS IS THE ORIGINAL-->
 	<%= collection_select(:rating, :user_id, User.all, :id, :user_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
