<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
<!--Foreach stmt which @rest ... represents instance variable "@" which is set by the controller |the formal 'restaurant'| ... e.g. LU LU Calling methods
on that object.  The kind of object it is .. is a model object-->
  <tr>
    <td><%= link_to restaurant.restaurant_name, restaurant.restaurant_url %></td>
    <td><%= restaurant.restaurant_city %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
